:root {
    --font-title: "Zen Loop", cursive;
    --font-family: "Albert Sans", sans-serif;
    --color-1: #F1F891;
    --color-2: #BC2010;
    --color-3: #750204;
    --color-4: #fff;
    --color-5: #222222;
}

footer {
    background-color: var(--color-2);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vw;
    text-align: center;
    align-content: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav svg {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.footer-nav svg:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    footer{
    width: 100%;
    height: 5px;
    }

    .footer-nav{
        display: none;
    }
}