:root{
    --font-title : "Parisienne";
    --font-family : "Cormorant", serif;
    --font-color : rgb(48, 21, 21);     
}

footer {
    background-color: var(--font-color);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.footer-nav img:hover {
    transform: scale(1.2);
}
