:root {
    --font-title: "Zen Loop", cursive;
    --font-family: "Albert Sans", sans-serif;
    --color-1: #fafaf6;
    --color-2: #BC2010;
    --color-3: #750204;
    --color-4: #fff;
    --color-5: #222222;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--color-1);
    font-size: 15px;
}

.header-nav{
    display:none;
}

/* LOGO */
.logo {
    text-decoration: none;
    color: var(--color-2);
    font-family: var(--font-title);
    font-size: 15vw;
}

.logo-xl{
    display: none;
}

/* SEARCH */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: clamp(240px, 90%, 260px);
    max-width: 100%;
    padding: 1em;
    border: #a0a0a0 1px solid;
    border-radius: 12px;
    outline: none;
}

/* RÉSULTATS SOUS LE HEADER */

.search-results {
        position: absolute;
        top:18vw;
        right:0;
        background: white;
        height: auto;
        overflow-y: auto;
        display: none;
        padding: 10px;
        z-index: 2;
        border: 1px solid #cacaca ;
        border-radius: 15px;
    }

.recipe-result {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}

.recipe-result:hover {
    background: var(--color-3);
}

.recipe-result h3 {
    margin: 0;
    font-size: 16px;
}

.recipe-meta {
    font-size: 12px;
    color: gray;
}


.no-results {
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: var(--color-5);
}


@media (min-width: 768px) {

    .header-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }
    
    .header-nav a {
        text-decoration: none;
    }
    
    .header-nav svg {
        width: 30px;
        height: auto;
        transition: transform 0.3s;
    }
    
    .header-nav svg:hover {
        transform: scale(1.2);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: var(--color-2);
        font-size: 15px;
    }

    .logo{
        display: none;
    }

    .logo-xl{
        display: flex;
        text-decoration: none;
        color: var(--color-1);
        font-family: var(--font-title);
        font-size: 6vw;
    }

    .search-container {
        width: 100%;
        justify-content: center;
    }

    .search-input {
        height: 1em;
        font-size: 15px;
    }

    .search-results {
        top:6vw;
        margin: 15px
    }


    footer {
    background-color: var(--color-2);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vw;
    text-align: center;
    align-content: center;
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-nav a {
        text-decoration: none;
    }

    .footer-nav svg {
        width: 40px;
        height: auto;
        transition: transform 0.3s;
    }

    .footer-nav svg:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {
    footer{
    width: 100%;
    height: 5px;
    }

    .footer-nav{
        display: none;
    }
}