:root {
    --font-title: "Zen Loop", cursive;
    --font-family: "Albert Sans", sans-serif;
    --color-1: #F1F891;
    --color-2: #BC2010;
    --color-3: #750204;
    --color-4: #fff;
    --color-5: #222222;
}

main{
    display: flex;
    background-color: var(--color-1);
    height: 100vh;
    flex-flow: column nowrap;

    a{
        text-decoration: none;
    }
}

.index-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span{
        font-family: var(--font-title);
        font-size: 60px;
    }
}
button {
    padding: 0.8em 1em;
    cursor: pointer;
    border: none;
    background-color: var(--color-2);
    border-radius: 12px;
    color: var(--color-4);
    font-size: 20px;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#recipesContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
    margin: 10px;
    overflow-x: auto; 
    max-width: 100%; 
}

.recipe-card {
    background: #ffffff;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    justify-items: center;
    border: 2px solid var(--color-2);
    width: 150px; 
    height: 50svh;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card h3 {
    font-size: 1rem;
    color: #333;
}

.recipe-card p {
    font-size: 1rem;
    color: #666;
}

.recipe-card button {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
}

.recipe-card button:hover {
    background: black;
    color: #ffffff;
}
