:root{
    --font-title : "Parisienne";
    --font-family :  "Roboto", sans-serif;;
    --color-1 : #A93E16; 
    --color-2 : #DF7240;
    --color-3 : #F3D0A7;
    --color-4 : #fdf6f6;
    --color-5 : #222222;
    --color-6 : #F1F891;
}

main{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block;
    justify-items: center;
}

button {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #F1F891;
    border-radius: 10px;
    color: var(--color-1);
    font-size: 26px;
    font-family: inherit;
    font-weight: bold;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    height: 10svh;
  }

.main{
    display: flex;
    flex-flow: column nowrap;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#recipesContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
    margin: 10px;
    overflow-x: auto; 
    max-width: 100%; 
}

.recipe-card {
    background: #ffffff;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    justify-items: center;
    border: 2px solid var(--color-2);
    width: 150px; 
    height: 50svh;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card h3 {
    font-size: 1rem;
    color: #333;
}

.recipe-card p {
    font-size: 1rem;
    color: #666;

}

.recipe-card button {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
}

.recipe-card button:hover {
    background: black;
    color: #ffffff;
}
