/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
}

body {
    margin: 40px 56px;
    display: flex;
    flex-direction: column;
    background-color: #F1F891;
}

h1 {
    text-align: center;
    font-size: 25pt;
}

.planning {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 88px;
    width: 100%;

    .left {
        width: 60%;
        max-height: 100svh;

        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 48px 0 16px 0;
    
        .btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgb(20, 20, 20);
            border: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
            cursor: pointer;
            transition-duration: .3s;
            overflow: hidden;
            position: relative;
        }
          
        .svgIcon {
            width: 20px;
            transition-duration: .3s;
        }
          
        .svgIcon path {
            fill: white;
        }
          
        .btn:hover {
            width: 140px;
            border-radius: 50px;
            transition-duration: .3s;
            align-items: center;
        }
        
        .trash:hover {
            background-color: rgb(255, 69, 69);
        }
        
        .pdf:hover {
            background-color: rgb(47, 162, 5);
        }

        .save:hover {
            background-color: rgb(5, 23, 162);
        }
          
        .btn:hover .svgIcon {
            width: 50px;
            transition-duration: .3s;
            transform: translateY(60%);
        }
          
        .btn::before {
            position: absolute;
            top: -20px;
            color: white;
            transition-duration: .3s;
            font-size: 2px;
        }
        
        .trash::before {
            content: "Supprimer le menu";
        }
        
        .pdf::before {
            content: "Générer le menu";
        }

        .save::before {
            content: "Sauvegarder le menu";
        }
          
        .btn:hover::before {
            font-size: 13px;
            opacity: 1;
            transform: translateY(30px);
            transition-duration: .3s;
        }
    }

    .menu {
        border: 2px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .day {
        border: 2px solid green;
        width: 100px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .lunch {
        border: 2px solid blue;
        width: 100px;
        height: 200px;
        max-height: 400px;
        object-fit: contain;
        overflow: hidden;
    }

    .diner {
        border: 2px solid violet;
        width: 100px;
        height: 200px;
        max-height: 400px;
        object-fit: scale-down;
        overflow: hidden;
    }

    .containerFavoriteRecipes {
        width: 30%;
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
        gap: 24px;
        padding: 16px;

        img {
            max-width: 250px;
            max-height: 200px;
            margin: 8px auto;
        }
    }
}

.viewRecipeButton{
    background-color: #F1F891;
    width: 80%;
    justify-content: flex-start;
    border-radius: 15px;
}