/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
}

body {
    margin: 40px 56px;
    display: flex;
    flex-direction: column;
    background-color: #F1F891;
}

h1 {
    text-align: center;
    font-size: 25pt;
}

.planning {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 88px;
    width: 100%;

    .menu {
        width: 60%;
        max-height: 100svh;
        border: 2px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .day {
        border: 2px solid green;
        width: 100px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .lunch {
        border: 2px solid blue;
        width: 100px;
        height: 200px;
        max-height: 400px;
        object-fit: contain;
        overflow: hidden;
    }

    .diner {
        border: 2px solid violet;
        width: 100px;
        height: 200px;
        max-height: 400px;
        object-fit: scale-down;
        overflow: hidden;
    }

    .containerFavoriteRecipes {
        width: 30%;
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
        gap: 24px;
        padding: 16px;

        img {
            max-width: 250px;
            max-height: 200px;
            margin: 8px auto;
        }
    }
}

.viewRecipeButton{
    background-color: #F1F891;
    width: 80%;
    justify-content: flex-start;
    border-radius: 15px;
}

/* Taille des recettes dans le container des favoris */
.favorites.favoritesScroll {
    width: 100%;
    height: auto;
    max-width: 400px; /* taille souhaitée pour les favoris */
    max-height: 200px;
    object-fit: cover; /* Assure que l'image de la recette soit bien adaptée */
}

/* Taille des recettes dans le planning des menus */
.favorites.favoritesMenu {
    width: 100%; /* 70% de la taille de base */
    height: auto;
    max-width: 200px; /* même max-width que dans le container des favoris */
    max-height: 200px;
    object-fit: cover; /* Assure que l'image soit bien proportionnée */
}