:root {
    --font-title: "Zen Loop", cursive;
    --font-family: "Albert Sans", sans-serif;
    --color-1: #F1F891;
    --color-2: #BC2010;
    --color-3: #750204;
    --color-4: #fff;
    --color-5: #222222;
}

main{
    background: var(--color-1);
    font-family: var(--font-family);
    height: 80vh;

    h1{
        margin: 0;
        padding: 10px;
        text-align: center;
        
    }
}